@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@600&family=Roboto:wght@100&family=Yellowtail&family=Zen+Kaku+Gothic+Antique:wght@300;400&display=swap');

:root {
  --background: #72B2B2;
  --icones: #FFBEB8;
  --constraste: #FF5757;
  --detalheAmarelos: #F8F19B;
  --detalheAzul: #9CC9D4;
}

* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  background-color: white;
}

main {
  background-color: var(--background);
  padding: 15px;
}

hr {
  width: 70%;
  margin: 5px;
  border: 1px solid var(--constraste);
  border-radius: 10px;
}

#title-feelin {
  color: var(--icones);
}

.logo img {
    width: 70px;
}

.title {
  color: var(--icones);
  font-size: 30px;
}

/* .navBar img {} */

.banner {
  display: flex;
  justify-content: flex-end;
  background-image: url("images/banner.png");
  background-repeat: no-repeat;
  background-size: 100% 650px;
  height: 500px;
  background-position: 0;
}

.text {
  width: 40%;
}

.banner h2 {
  font-size: 50px;
}

.banner p {
  font-family: 'Open Sans', sans-serif;
  font-size: 26px;
}

.intro {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px;
}
.intro img {
  width: 30%;
}

.introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 30px;
}

.introduction h2 {
  font-size: 40px;
}

.introduction p {
  font-family: 'Open Sans', sans-serif;
  margin:20px;
  font-size: 30px;
}

.introduction form {}

.diary {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 40px;
}

.diary h2 {
  color: white;
  font-size: 40px;
}

.diary textarea {
  background-color: rgba(255, 255, 255, 0.315);
  border: 2px solid var(--icones);
  border-radius: 15px;
  padding: 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  width: 30%;
}

select {
  width: 200px;
  padding: 7px;
  letter-spacing: 1px;
  color: var(--constraste);
  font-weight: 900;
  font-size: 13px;
  border: none;
  background-color: transparent ;
  border-bottom: 1px solid rgb(255, 255, 255);
  margin: 10px;
}

input {
  width: 200px;
  padding: 7px;
  letter-spacing: 1px;
  font-size: 13px;
  border: none;
  background-color: transparent ;
  border-bottom: 1px solid rgb(255, 255, 255);
  transition: all 1s ease-in-out;
  margin: 10px;
}
  

.inputLine {
    width: 300px;
    padding: 7px;
    letter-spacing: 1px;
    color: #ffffff;
    font-size: 13px;
    border: none;
    background-color: transparent ;
    border-bottom: 1px solid rgb(255, 255, 255);
    transition: all 1s ease-in-out;
    margin: 10px;
  }

#diary-self-knowledge {
  display: flex;
  justify-content: center;
}

.self-knowledge-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#title-question-feeling {
  font-size: xx-large;
  font-weight: 400;
}

.mandala-second {
  width: 250px;
}

.mandala-second, .mandala-first {
  animation: loading 15s linear infinite;
}

@keyframes loading {
  0% {
    transform: rotate(0);
  }
  100% {
	transform: rotate(360deg);
  }
}



footer p {
    font-family: 'Open Sans', sans-serif;
    width: fit-content;
    margin: 0 auto;
}

 /* SENTIMENTOS */   

.sentimento {
display:flex;
list-style-type: none;
gap: 45px;
    
}

.emotImg{
max-width: 55px;
}